@{
    ViewBag.Title = "About Us";
}

<h2>O stronie</h2>
<p>
     Strona powstała na zaliczenie przedmiotu: Architektura Serwisów Internetowych
</p>
<p>
    Jest napisana w technologii ASP.NET MVC3
</p>
<p>
    Strona jest hostowana na http://appharbor.com 
</p>
<p>
    Kod źródłowy jest dostępny na githubie: https://github.com/wmyszke/MVCAppHarbor
</p>
